// colors
$primary-clr: #ce9797;
$secondary-clr: #cd8774;
$background-clr: #fef6f6;
$text-clr: #ce9797;

// font-family
$josefinSans: 'Josefin Sans', sans-serif;

// breakpoints
$tablet-up: 46.25em;
$desktop: 80em;
