// colors
$primary-clr: #ce9797;
$secondary-clr: #f19c9d;
$background-clr: #fff7f8;
$text-clr: #ce9797;

// font-family
$josefinSans: 'Josefin Sans', sans-serif;

// breakpoints
$tablet-up: 46.25em;
$desktop: 80em;
