// colors
$primary-clr: #ce9797;
$secondary-clr: #f96262;
$background-clr: #f2e3e3d6;
$text-clr: #ce9797;

// font-family
$josefinSans: 'Josefin Sans', sans-serif;

// breakpoints
$tablet-up: 46.25em;
$desktop: 80em;
